body {
	font: 1.2em sans-serif;
	margin: 1em auto;
	max-width: 40em;
	padding: 0 0.62em
}

a {
	padding-right: 0.5empx;
}

nav {
	padding-bottom: 1em;
	border-bottom: 0.2em solid lightgrey;
}

nav a {
	margin-right: 1em;
}